body {
	padding: 10;
	margin: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	user-select: none;
	background-image:url(Goku.jpg)
}
.container {
	margin-left: 1.8em;
	padding: 10px;/*ukuran table*/
	border-radius: 30px; /*sisi table*/
	box-shadow: 13px 13px 20px blue,/* warna sisi bwaH TABLE*/
	-13px -13px 20px purple;
	/*background-color:#666666;*/
	}
.content {
	width: 100%;
	
	margin-top: 1.7em;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
}
.row button {
	width: 60px;
	height: 50px;
	font-size: 16px;
	color: #fff; /*warna tombol angka*/
	border:none;/*jenis border button*/
	
	margin: 5px;/*jarak button dll*/
	border-radius: 20px;/*sisi" button border*/
	
	box-shadow: 5px 5px 8px red,
-5px -5px 8px purple;/*sisi" button warna*/
}
.row button:hover{
box-shadow: inset 5px 5px 8px purple,
	inset -5px -5px 8px blue;
}
.display  #screen {

	margin-bottom: .5em;
	width: auto;
	height: 70px;
	font-size: 35px;
	outline: none;
	border: none;
	text-align: right;/*muncul input*/
	background-color:#6600CC;
	padding-right: .5em;
	border-radius:100px;
	box-shadow: inset 8px 8px 8px #d1d1d1,
	inset -8px -8px -8px blue;
}
#eval {
	background: skyblue;
	color: black;
	box-shadow: inset 5px 5px 8px #66d9ff,
	inset -5px -5px -8px #00ace6;
}
#eval:hover {
	box-shadow: inset 5px 5px 8px blue,
	inset -5px -5px 8px red;
}
#ac {
	background:#CC6600;
	color: #fff
}
#ce {
	background: #333333;
	color: #fff;
}
.btn{
 background:#333333;
 font-color:#fff;
}
#btn2 {
 
 color:black;
}
/*e= exponen
  x!= faktor
  phi=  p
  eval= samadengan
  ac= AllClear
  ce= ClearEntry
  :hover= bayangan;
  
